html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(200, 200, 200);
}
/* .bod {
    height: 90%;
    margin-bottom: 10%;
} */
.prim-back {
    background-color: rgb(124, 120, 120);
}
.sec-back {
}
.acc-back{
    background-color: midnightblue;
}
.prim-text {
    color: black;
}
.sec-text {
    color: white;
}
.acc-text {
    color: lightslategray;
}

#main-content {
    position: fixed;
    display:block;
    height:50%;
    width:50%;
    z-index: 4;
    /*left: 500px;
    top: 30px;*/
}
footer {
    /* margin: 0;
    padding: 0;*/
    height: 4%;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    z-index: 3;
    /* left: 0;
    bottom: 0; */
}
nav {
    /* margin: 0;
    padding: 0; */
    height: 5%;
    width: 100%;
    z-index: 3;
    position: fixed;
    /* position: fixed;
    left: 0;
    top: 0; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}


.space{
  text-align: center;
  font-style:italic;
  background-color: #B8CEB7;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius : 5px;
  border-color: black;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  position: relative;
  z-index: 1;


}

.head{
  background-color: #B8CEB7;
  text-align: center;
  z-index: 2;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius : 5px;
    color: #262626;
    font-size: 36pt;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-bottom: 15px;
    border-color: black;
    border-left-style: solid;
    border-right-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    margin-bottom: -14px;

    }

.page{
  background: rgb(56,193,115);
  background: linear-gradient(0deg, rgba(56,193,115,1) 0%, rgba(0,148,63,1) 75%, rgba(0,113,49,1) 100%);
}



.full{
padding-top: 80px;
padding-bottom: 80px;
}

.list{
display: inline-block;
text-align: left;
color: #282828;
}

.top-bottom{
  color: white;
  background-color: darkslategray;
}

.submit{
  text-align: center;
  background-color: #4CAF50;
  color: white;

}



.textbox{
  border-radius: 5px;
  border: none;
  width: 200px;
  text-align: center;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
}

.sub{
  background-color: white;
  border-radius: 25px;
  border: none;
  width: 200px;
  height: 40px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  font-size: 13pt;
}

.lower-border{
  display: block;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 2px;
  margin-top: 14px;
  padding-bottom: 18px;
  margin-bottom: 22px;

}

.top-space{
  padding-top: 12px;
}

.sublabel{
  font-weight: bold;
  text-decoration: underline;
  color: #353535;
}

.sublabel2{
  font-weight: bold;
  color: #353535;
  font-style: normal;

}

.sublabel3{
  font-weight: bold;
  color: #353535;
  font-style: normal;
  font-size: 20pt;
}

.sublabel4{
  font-weight: normal;
  color: #353535;
  font-style: normal;
  font-size: 12pt;
  margin-top: -14px;
  padding-bottom: 10px;
}

.sublabel5{
  font-weight: normal;
  color: #353535;
  font-style: normal;
  font-size: 16pt;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    height:100%;
    color: white;
    background-color: darkslategray;
}
a:hover, a:active {
    background-color:rgba(17, 52, 87, 0.5);
    color: white;
    background-color: darkslategray;
}


.sub2{
background-color: white;
}

.window-wide{
    width: 1000px;
    }

.window-small{
  width: 450px;
}

.window-medium{
  width: 700px;
}


    th{
      padding-right: 45px;
      padding-left: 45px;
      padding-bottom: 20px;
      font-size: 13pt;
    }
    table{
    }
